@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Hahmlet&family=Noto+Sans+KR:wght@400;600&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Young+Serif&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.6;
  background-color: pink;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0 40px 0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#search-input {
  width: 60%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
  color: #333;
}

#search-btn {
  padding: 10px 20px;
  background-color: #0c0909;
  color: #fff;
  border: none;
  font-size: 18px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.movies {
  width: 1280px;
  background-color: pink;
  margin: 0 auto;
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
}

.movies .movie {
  width: 299px;
  max-height: 500px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}

.title {
  cursor: pointer;
  letter-spacing: -10px;
}

.movies .movie .movieTitle {
  background-color: black;
  color: pink;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 0.8;
}

.movies .movie .movieInner {
  position: relative;
  overflow: hidden;
  height: 429px;
}

.movies .movie .movieInner .movieImg img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movies .movie .movieInner .movieContent {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
  padding: 10px;
  box-sizing: border-box;
  transition: all 1s;
}

.movies .movie:hover .movieInner .movieContent {
  top: 0;
}

.movies .movie .movieInner .movieContent .rating {
  margin-bottom: 6px;
  font-size: 20px;
  color: pink;
}

.movies .movie .movieInner .movieContent .summary {
  font-size: 16px;
}


#current-time-weather {
  display: flex;
  justify-content: center;
  background-color: black;
  background-size: auto;
  color: pink;
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 24px;
 
}

#WhatTimeIsItNow,
#weather {
  margin: 5px; 
}
